.courses {
  flex: 1;
  background-color: #f1f5f9;
}
.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 15px;
}

/* course ////////////////////////////////////////////////////////////////////////////////////////////////////// */
.course {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  position: relative;
  gap: 10px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.course .inst-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 12px;
  top: 12px;
}
.course .main-img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 5px;
}

.course .content {
  padding: 10px 15px 20px;
  margin-bottom: 20px;
}
.course .content h4 {
  font-size: 0.8em;
  margin-bottom: 10px;
}
.course .content p {
  font-size: 0.7em;
  color: #888;
}
.course .footer {
  display: flex;
  padding: 0 8px;
  justify-content: space-between;
  color: #888;
  font-size: 0.7em;
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.course .footer button {
  font-size: 1em;
  background-color: #0075ff;
  border: 0;
  padding: 4px 8px;
  color: #fff;
  border-radius: 5px;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

/* End course ////////////////////////////////////////////////////////////////////////////////////////////////////// */
